
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container2{
    max-width: 980px;
    margin: auto;
}


header{
    padding: 20px;
    background-color: #ff6c63;
}
.skewed-section{
    border: 4px solid #fff;
    margin-top: 4%;
    background-color: #ff6c63;
    height: 100vh;
    transform: skewY(-4deg);
}
.skewed-content{
    transform: skewY(4deg);
}
.cases{
    width: 50%;
}
.cases p{
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
    color: #ff6c63;
    border-radius: 10px;
}
  
form {
    display: flex;
    justify-content: space-between;
}
form input,
form button{
    border: none;
    background-color: #fff;
    outline: none;
    padding: 12px;
}
form input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
form button{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
  
@media (max-width:992px) {
    .skewed-section{
        border-top:4px solid #fff ;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        margin-top: 0%;
        transform: skewY(0deg);
    }
    .skewed-content{
        transform: skewY(0deg);
    }
}
@media (max-width:576px) {
    .cases{
        width: 100%;
    }
}