@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    text-decoration: none !important;
    list-style: none !important;
    font-family: "Inter", sans-serif;
}

header{
    background-color: #fff !important;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;   
}
ul li{
    font-size: 18px;
    font-weight: 400;
}
ul li a{
    color: #000;
}
.bg-image{
    background-image: url('../images/slider-03.jpg');
    height: 91vh;
    background-size: cover;
    background-position: center center;
    background-repeat:  no-repeat;
    position: relative;
}
.bg-image::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005d;
}
.main-banner-content{
    position: relative;
    z-index: 9;
    max-width: 800px;
    margin: auto;
    height: 91vh !important;
}
.offWhite{
    color: #ffffff9c;
}
h1{
    font-size: 5.375rem;
    text-align: center;
    font-weight:bold ;
}
.viewBtn button{
    padding: 15px 32px;
    border-radius: 40px;
    border: none;
    font-weight: 500;
}
.bi-star-fill{
    color: #facc15;
}
.product-card{
    padding: 20px;
    border-radius: 30px;
    background-color: #f4f4f4;
}

.ratings{
    border-radius: 40px;
}
.fs-7{
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    color: #71717a;
    margin-block: 10px;
}
.fs-8{
    font-size: 18px;
    font-weight: 500;
}

.addToCartBtn button{
    padding: 8px 23px;
     border-radius: 30px;
}

.cart-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.font-14{
    font-size: 14px;
    
}
.pos{
    top: 10px !important;
    right: -10;
}
.border-radius-20{
    border-radius: 20px;
}
.border-radius-10{
    border-radius: 15px;
}

.offer-update{
    padding: 20px;
    margin: 60px 0;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #fafafa;
}

.back-and-border{
    background-color: #f0fdf4;
    border: 1px solid #149644;
}

.rounded-10{
    border-radius: 10px;
}
.border-30{
    border-radius: 30px;
}

@media (max-width:576px) {
    .cart-image img{
        width: 100%;
    }
   
}

.underline ul li a{
    display: inline-block;
    transition: 0.2s all linear;
}

.underline ul li a:hover{
    color: #00000075;
   
}
.upRight ul li a{
    display: inline-block;
    transition: 0.2s all linear;
}
.upRight ul li a:hover{
    color: #00000075;
    transform: translate(5px);
   
}